<div *ngIf="poi">
    <h2> {{ poi.name}} details </h2>

    <div><label>id: </label>{{poi.id}}</div>
    <div>
        <!--input [(ngModel)]="poi.name" placeholder="name" -->
        <label>name: </label>{{poi.name}}
    </div>

    <div> <label> description : </label> {{poi.desc}} </div>
    <div> <label> longitude : </label> {{poi.longitude}} </div>
    <div> <label> latitude : </label> {{poi.latitude}} </div>


    <button (click)="goBack()"> Back </button>

    <div>
        <button md-mini-fab (click)="onBtnEditClick()" style=" color : black"><md-icon>mode_edit</md-icon></button>
    </div>