<md-toolbar color="grey">
  {{title}}
</md-toolbar>

<form (ngSubmit)="onSubmit()">
  <div>
    <md-checkbox [(ngModel)]="poi.validated" name="validated">Validated</md-checkbox>
  </div>
  <div>
    <md-input-container>
      <input mdInput placeholder="Name" [(ngModel)]="poi.name" name="name" />
    </md-input-container>
  </div>

  <div>
    <md-select placeholder="Type" [(ngModel)]="poi.typespois_id" name="typespois_id">
      <md-option *ngFor=" let type of types" [value]="type.id">
        {{ type.name_fr }}
      </md-option>
    </md-select>
  </div>

  <div>
    <md-input-container>
      <input mdInput placeholder="Poi Nom FR" [(ngModel)]="poi.name_fr" name="name_fr" />
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input mdInput placeholder="longitude" [(ngModel)]="poi.longitude" name="longitude" />
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input mdInput placeholder="latitude" [(ngModel)]="poi.latitude" name="latitude" />
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input mdInput placeholder="Visit time min" [(ngModel)]="poi.visit_time_min" name="visit_time_min" />
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input mdInput placeholder="Visit time max" [(ngModel)]="poi.visit_time_max" name="visit_time_max" />
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input mdInput placeholder="Street" [(ngModel)]="poi.street" name="street" />
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input mdInput placeholder="Zip code" [(ngModel)]="poi.postal_code" name="postal_code" />
    </md-input-container>
  </div>


  <div>
    <md-input-container>
      <input mdInput placeholder="Price min" [(ngModel)]="poi.price_min" name="price_min" />
    </md-input-container>
  </div>


  <div>
    <md-input-container>
      <input mdInput placeholder="Price max" [(ngModel)]="poi.price_max" name="price_max" />
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input mdInput placeholder="Email" [(ngModel)]="poi.mail" name="mail" />
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input mdInput placeholder="Website" [(ngModel)]="poi.website" name="website" />
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input mdInput placeholder="Resa link" [(ngModel)]="poi.resa_link" name="resa_link" />
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input mdInput placeholder="URL image 1" [(ngModel)]="poi.url_img1" name="url_img1" />
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input mdInput placeholder="URL image 2" [(ngModel)]="poi.url_img2" name="url_img2" />
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input mdInput placeholder="Description" [(ngModel)]="poi.desc" name="desc" />
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input mdInput placeholder="Description FR" [(ngModel)]="poi.desc_fr" name="desc_fr" />
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input mdInput placeholder="With child ?" [(ngModel)]="poi.withchild" name="withchild" />
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input mdInput placeholder="Phone" [(ngModel)]="poi.phone" name="phone" />
    </md-input-container>
  </div>

  <button type="submit" md-button>Send</button>
</form>